@import "tailwindcss";

.p-organizationchart .p-organizationchart-node-content {
    border: 1px solid #e5e7eb;
    background: #ffffff;
    color: #4b5563;
    padding: 0.5rem; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 0.1);
}

.p-organizationchart .p-organizationchart-line-down {
    height: 16px !important;
}

.p-organizationchart .p-organizationchart-line-down,
.p-organizationchart .p-organizationchart-line-top{
    border-color: #c1c4c8 !important;
    border-width: 1.5px !important;
}
svg.p-icon.p-node-toggler-icon{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    top: .15rem;
}
.p-organizationchart-node-content {
    min-width: 120px;
    max-width: 160px;
}